nav {
    background-color: black;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding:20px;
    margin: 0px;
    font-size: 2vw;
    text-align: left;

}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a:link, nav ul li a:visited{
    color: white;
}

nav ul li a:hover{
    color: green;
}

input{
    margin: 5px auto;
    height: 25px;
    font-size: 20px;
}
h1 {
            font-size: 3vw;/* Scales based on viewport width */
       }
        p {
            font-size: 2vw;
        }

h2{ background-color: black;
color: white}

p.error-text {
    color: red;
    font-weight: bold;
}

p{ color: purple;}
img.correct{
    border: 5px solid green;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 250px 250px 250px;
    gap: 0px;
    width: 100%;
    height: 50%;
    margin: 5px;
}
.grid img {
    width: 100%;
    height: 100%;
}
img {
    width: 10%;
    aspect-ratio: 1 / 1;
    display: block;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
    color: green;
}

table {
    border-collapse: collapse;
    width: 95%;
}

th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
}

table tr th {
    text-align: center;
}
table tr td label {
    padding: 5px;
    margin-left: auto;
    display: block;
}

table tr td input{
    width: 98%;
    height: 25px;
    font-size: 20px;
}

.row {
    padding: 10px;
    display:block;
}

textarea {
    width: 95%;
    height: 200px;
    margin: 0 auto;
    font-size: 20px;

}

a:hover {
  color: Green;
  text-decoration: underline;
}
a{
    color: Blue;
    font-size:30px;
    font-weight: bold;
}

form {
  width: 100%;
  margin: 20px auto;
  text-align: left;
  font-size:1.5vw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
}



#problemsContainer {
    width: 95%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
}

#problemsContainer label {
    white-space: nowrap;
}

#problemsContainer input {
    flex: 1;
    min-width: 100px;
    padding: 5px;
}

#loginForm_container{
  width: 25%;
  margin: 20px auto;
  text-align: center;
  font-size:1.5vw;
  padding: 20px;
}

#loginForm_container form{
    text-align: center;
}

#loginForm_container button{
    margin-top: 10px;
    text-align: center;
    font-size: 1.5vw;
}

#title{
    width 50%;
    font-size: 3vw;
    text-align: center;
    text-decoration: underline;
}

#submitButton{
    margin-top: 10px;
    text-align: center;
    font-size: 2vw;
}

#links{
    width 50%;
    font-size: 3vw;
    text-align: center;

}