<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

</head>
<body>
<script src="/static/code.js"> </script>
<nav> 
    <ul class="navbar">
        <li><a href='/'><img src="/static/CB_Logo.jpg" alt="Logo" class="nav-img"></a></li>
        {% if current_user.is_authenticated == False %}
            <li><a href='/read'>GRAPHS</a></li>
            <li><a href='/view'>DATA</a></li>
            <li><a href='/rankings'>RANKINGS</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
            <li><a href='/forms'>FORMS</a></li>
            <li><a href='/read'>GRAPHS</a></li>
            <li><a href='/view'>DATA</a></li>
            <li><a href='/rankings'>RANKINGS</a></li>
            <li><a href='/logout'>LOGOUT</a></li>
        {% endif %}
        <li class="snow-data">
            <strong>Base:</strong> {{ hs }} in. &nbsp;&nbsp;&nbsp;
            <strong>YTD Snow:</strong> {{ ytd_snow }} in.
        </li>
    </ul>
</nav>

{% block content %}

{% endblock %}

</body>
</html>