<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

</head>
<body>
<script src="/static/code.js"> </script>
<nav>
    <ul>
     <li><a href='/'>HOME</a></li>
        {% if current_user.is_authenticated == False %}
        <li><a href='/read'>READ</a></li>
        <li><a href='/view'>VIEW</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
            <li><a href='/forms'>FORMS</a></li>
            <li><a href='/read'>READ</a></li>
            <li><a href='/view'>VIEW</a></li>
            <li><a href='/logout'>LOGOUT</a></li>
        {% endif %}
    </ul>
  </nav>

    {% block content %}
{% endblock %}

</body>
</html>