{% extends "home.html" %}
{% block title%} Login {%endblock%}
{% block content %}
{{super()}}

<div id="loginForm_container">
        <form id="loginForm" action="/login" method="post">
                <div id="username_div">
                        <label for="username"> Username:</label>
                        <input type="text" required="required" name="username" id="username" value={{username}}><br>
                </div>
                <div id="password_div">
                        <label for="password"> Password:</label>
                        <input type="password" required="required" name="password" id="password" value={{password}}><br>
                        </div>
                <div id="login_button_div">
                <button type="submit" name="action" value="submit_query">Login</button>
                <button type="submit" name="action" value="submit_query" onclick="submit_loginReset(event)">Reset Login</button>
                        </div>
        </form>
</div>


{% endblock %}
