{% extends "base.html" %}
{% block title%} Past-Data {%endblock%}
{% block content%}

<h1 id="title"> Past Data FORM</h1><br>

<div id="links">
    <a href="https://cbavalanchecenter.org/" target="_blank">CBAC</a>&emsp;&emsp;<a href="https://avalanche.state.co.us/" target="_blank">CAIC</a>&emsp;&emsp;<a href="https://forecast.weather.gov/MapClick.php?lon=-106.96337126428263&lat=38.90990956937884" target="_blank">NWS</a>&emsp;&emsp;<a href="https://cbavalanchecenter.org/forecasts/#/weather" target="_blank">CBAC Weather</a>
</div>

<br><form action="/past-data" method="post" onkeydown="return event.key != 'Enter';">
    <div class= "date_row">
        <label>Date: </label> <input type="datetime-local" id="datetime" name="datetime" value='{{now}}'>
        <label>Forecaster: </label> <input type="text" id="forecaster" name="forecaster"><br>
    </div>
    <div class = "snow_row">
        <label>HS:</label> <input type="number" id="hs" name="hs" step="any">
        <label>HN24:</label><input type="number" id="hn24" name="hn24" step="any">
        <label>SWE:</label><input type="number" id="swe" name="swe" step="any">
        <label>HST:</label> <input type="number" id="hst" name="hst" step="any">
        <label>YTD Snow:</label> <input type="number" id="ytd_snow" name="ytd_snow" step="any">
        <label>YTD SWE:</label> <input type="number" id="ytd_swe" name="ytd_swe" step="any"><br>
    </div>
    <label>Critical Information:</label><br>
    <textarea id="critical_information" name="critical_information"></textarea><br>
    <h1>Pertinent Weather Observations past and future</h1><br>
    <table>
        <thead>
        <tr>
            <th>Current</th>
            <th> Past 24 hours</th>
            <th>Future 24 hours</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label>Sky </label>
                <select id="sky" name="sky">
                    <option value="" disabled selected>Select an option</option>
                    <option value="clear">Clear</option>
                    <option value="few">Few</option>
                    <option value="scattered">Scattered</option>
                    <option value="broken">Broken</option>
                    <option value="overcast">Overcast</option>
                    <option value="obscured">Obscured</option>
                    <option value="valley_fog">Valley Fog</option>
                </select>
            </td>
            <td class="top_past">
                <label>HST</label>
                <input type="number" name="past_24_hst" id="past_24_hst"  step="any"><br>
                <label>Date Cleared</label>
                <input type="date" name="past_24_date_cir" id="past_24_date_cir">
                <label>Settlement</label>
                <input type="number" name="past_24_settlement" id="past_24_settlement"  step="any">
            </td>
            <td>
                <label>Precip/Rate</label>
                <select id="future_precip_rate" name="future_precip_rate">
                    <option value="NO">No Precipitation</option>
                    <option value="T">HN24<1 cm</option>
                    <option value="S-1">Snowfall <1cm/hr </option>
                    <option value="S1">Snowfall = 1 cm/hr</option>
                    <option value="S2">Snowfall = 2 cm/hr</option>
                    <option value="S5">Snowfall = 5 cm/hr</option>
                    <option value="S10">Snowfall = 10 cm/hr</option>
                    <option value="RV">V.light Rain/mist</option>
                    <option value="RL">Light rain <2.5mm/hr</option>
                    <option value="RM">Moderate rain 2.5-7.5mm/hr</option>
                    <option value="RH">Heavy rain>7.5mm/hr</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Precip/Rate</label>
                <select id="current_precip/rate" name="current_precip_rate">
                    <option value="NO">No Precipitation</option>
                    <option value="T">HN24<1 cm</option>
                    <option value="S-1">Snowfall <1cm/hr </option>
                    <option value="S1">Snowfall = 1 cm/hr</option>
                    <option value="S2">Snowfall = 2 cm/hr</option>
                    <option value="S5">Snowfall = 5 cm/hr</option>
                    <option value="S10">Snowfall = 10 cm/hr</option>
                    <option value="RV">V.light Rain/mist</option>
                    <option value="RL">Light rain <2.5mm/hr</option>
                    <option value="RM">Moderate rain 2.5-7.5mm/hr</option>
                    <option value="RH">Heavy rain>7.5mm/hr</option>
                </select>
            </td>
            <td>
                <label>HN24</label><input type="number" id="past_24_hn24" step="any" name="past_24_hn24" oninput = "calculate_hn24_percent()">
                <label>HN24 SWE</label><input type="number" id="past_24_hn24_swe" step="any" name="past_24_hn24_swe" oninput = "calculate_hn24_percent()">

                <label>HN24%</label><input type="number" step ="any" id="past_24_hn24_percent" name="past_24_hn24_percent" readonly>
            </td>
            <td>
                <label>Temp HIGH</label>
                <input type="number" id="future_temp_high" name="future_temp_high"  step="any">
            </td>
        </tr>
        <tr>
            <td>
                <label>Temp</label>
                <input type="number" id="current_temp" name="current_temp" step="any">
            </td>
            <td>
                <label>Wind MPH</label>
                <select id="past_24_wind_mph" name="past_24_wind_mph">
                    <option value="" disabled selected>Select an option</option>
                    <option value="calm">Calm (0 mi/hr)</option>
                    <option value="light">Light (1-16 mi/hr)</option>
                    <option value="moderate">Moderate (17-25 mi/hr)</option>
                    <option value="strong">Strong (26-38 mi/hr)</option>
                    <option value="extreme">Extreme (>38 mi/hr)</option>
                </select>

                <label>Wind Direction</label>
                <select id="past_24_wind_direction" name="past_24_wind_direction">
                    <option value="" disabled selected>Select an option</option>
                    <option value="N">N</option>
                    <option value="NNE">NNE</option>
                    <option value="NE">NE</option>
                    <option value="ENE">ENE</option>
                    <option value="E">E</option>
                    <option value="ESE">ESE</option>
                    <option value="SE">SE</option>
                    <option value="SSE">SSE</option>
                    <option value="S">S</option>
                    <option value="SSW">SSW</option>
                    <option value="SW">SW</option>
                    <option value="WSW">WSW</option>
                    <option value="W">W</option>
                    <option value="WNW">WNW</option>
                    <option value="NW">NW</option>
                    <option value="NNW">NNW</option>
                </select>
            </td>
            <td>
                <label>Temp LOW</label>
                <input type="number" id="future_temp_low" name="future_temp_low" step="any">
            </td>
        </tr>
        <tr>
            <td>
                <label>Wind MPH</label>
                <select id="current_wind_mph" name="current_wind_mph">
                    <option value="" disabled selected>Select an option</option>
                    <option value="calm">Calm (0 mi/hr)</option>
                    <option value="light">Light (1-16 mi/hr)</option>
                    <option value="moderate">Moderate (17-25 mi/hr)</option>
                    <option value="strong">Strong (26-38 mi/hr)</option>
                    <option value="extreme">Extreme (>38 mi/hr)</option>
                </select>
            </td>
            <td>
                <label>Temp HIGH</label>
                <input type="number" id="past_24_temp_high" name="past_24_temp_high" step="any">
            </td>
            <td>
                <label>Wind MPH</label>
                <select id="future_wind_mph" name="future_wind_mph">
                    <option value="" disabled selected>Select an option</option>
                    <option value="calm">Calm (0 mi/hr)</option>
                    <option value="light">Light (1-16 mi/hr)</option>
                    <option value="moderate">Moderate (17-25 mi/hr)</option>
                    <option value="strong">Strong (26-38 mi/hr)</option>
                    <option value="extreme">Extreme (>38 mi/hr)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Wind Direction</label>
                <select id="current_wind_direction" name="current_wind_direction">
                    <option value="" disabled selected>Select an option</option>
                    <option value="N">N</option>
                    <option value="NNE">NNE</option>
                    <option value="NE">NE</option>
                    <option value="ENE">ENE</option>
                    <option value="E">E</option>
                    <option value="ESE">ESE</option>
                    <option value="SE">SE</option>
                    <option value="SSE">SSE</option>
                    <option value="S">S</option>
                    <option value="SSW">SSW</option>
                    <option value="SW">SW</option>
                    <option value="WSW">WSW</option>
                    <option value="W">W</option>
                    <option value="WNW">WNW</option>
                    <option value="NW">NW</option>
                    <option value="NNW">NNW</option>
                </select>
            </td>
            <td>
                <label>Temp LOW</label>
                <input type="number" id="past_24_temp_low" name="past_24_temp_low" step="any">
            </td>
            <td>
                <label>Wind Direction</label>
                <select id="future_wind_direction" name="future_wind_direction">
                    <option value="" disabled selected>Select an option</option>
                    <option value="N">N</option>
                    <option value="NNE">NNE</option>
                    <option value="NE">NE</option>
                    <option value="ENE">ENE</option>
                    <option value="E">E</option>
                    <option value="ESE">ESE</option>
                    <option value="SE">SE</option>
                    <option value="SSE">SSE</option>
                    <option value="S">S</option>
                    <option value="SSW">SSW</option>
                    <option value="SW">SW</option>
                    <option value="WSW">WSW</option>
                    <option value="W">W</option>
                    <option value="WNW">WNW</option>
                    <option value="NW">NW</option>
                    <option value="NNW">NNW</option>
                </select>
            </td>
        </tr>
    </table>
    <h1>Notes:</h1><br>
    <textarea id="observation_notes" name="observation_notes"></textarea><br>
    <h1>Weather Forecast:</h1><br>
    <textarea id="weather_forecast" name="weather_forecast"></textarea><br>
    <label>PWL:</label><input type="checkbox" id="pwl_checkbox" name="pwl_checkbox" onclick="togglePwl()">
    <div id="pwl_div" style="display: none;">
    <label>Type:</label><select id="pwl" name="pwl">
                <option value="" hidden="true"></option>
                <option value="SH">Surface Hoar</option>
                <option value="NSF">Near Surface Facets</option>
                <option value="MF">Melt Freeze</option>
                <option value="GP">Graupel</option>
                <option value="RC">Rain Crust</option>
                <option value="DH">Depth Hoar</option>
            </select>
    <label>Date:</label><input type="date" id="pwl_date" name="pwl_date">
    </div>
    <h1>AVALANCHE DANGER in the BC/on other side of the rope</h1><br>

    <label>Danger Rating Resort</label>
            <select id="avalanche_danger_resort" name="avalanche_danger_resort">
                <option value="" hidden="true"></option>
                <option value="low">Low</option>
                <option value="moderate">Moderate</option>
                <option value="considerable">Considerable</option>
                <option value="high">High</option>
                <option value="extreme">Extreme</option>
            </select>

    <label>Danger Rating Backcountry</label>
            <select id="avalanche_danger_backcountry" name="avalanche_danger_backcountry">
                <option value="" hidden="true"></option>
                <option value="low">Low</option>
                <option value="moderate">Moderate</option>
                <option value="considerable">Considerable</option>
                <option value="high">High</option>
                <option value="extreme">Extreme</option>
            </select>

    <div id="problem_1">
            <label>Location </label>
                <select id="location1" name="location1">
                    <option value="" hidden="true"></option>
                    <option value="Resort"> Resort</option>
                    <option value="BC">Backcountry (BC) </option>
                    <option value="Both">Both</option>
                </select>
            <label>Problem 1 </label>
            <select id="avalanche_problem_1" name="avalanche_problem_1">
                <option value="" hidden="true"></option>
                <option value="Persistent Slab">Persistent Slab</option>
                <option value="Deep Persistent Slab">Deep Persistent Slab</option>
                <option value="Storm Slab">Storm Slab</option>
                <option value="Wet Slab">Wet Slab</option>
                <option value="Wind Slab">Wind Slab</option>
                <option value="Dry Loose">Dry Loose</option>
                <option value="Wet Loose">Wet Loose</option>
                <option value="Glide">Glide</option>
                <option value="Cornice Fall">Cornice Fall</option>
            </select>

            <br><label>Aspect:</label>
            <div id="aspect_1">
                <label>
                    <input type="checkbox" name="aspect_1[]" value="N">
                    N (0)
                </label>

                <label>
                    <input type="checkbox" name="aspect_1[]" value="NE">
                    NE (45)
                </label>

                <label>
                    <input type="checkbox" name="aspect_1[]" value="E">
                    E (90)
                </label>

                <label>
                    <input type="checkbox" name="aspect_1[]" value="SE">
                    SE (135)
                </label>

                <label>
                    <input type="checkbox" name="aspect_1[]" value="S">
                    S (180)
                </label>

                <label>
                    <input type="checkbox" name="aspect_1[]" value="SW">
                    SW (225)
                </label>

                <label>
                    <input type="checkbox" name="aspect_1[]" value="W">
                    W (270)
                </label>

                <label>
                    <input type="checkbox" name="aspect_1[]" value="NW">
                    NW (315)
                </label>
            </div>
            <br><label>Elevation:</label>
                <div id="elevation_1">
                    <label>
                        <input type="checkbox" name="elevation_1[]" value="BTL">
                       Below Treeline
                    </label>

                    <label>
                        <input type="checkbox" name="elevation_1[]" value="NTL">
                        Near Treeline
                    </label>

                    <label>
                        <input type="checkbox" name="elevation_1[]" value="ATL">
                        Above Treeline
                    </label>
                </div>
            <br><label>Size:</label>
            <input type="text" id="size_1" name="size_1">
            <label>Likelihood:</label>
            <input type="text" id="likelihood_1" name="likelihood_1">

    </div>

    <div id="problem_2" hidden="true">
        <label>Location </label>
                <select id="location2" name="location2">
                    <option value="" hidden="true"></option>
                    <option value="Resort"> Resort</option>
                    <option value="BC">Backcountry (BC) </option>
                    <option value="Both">Both</option>
                </select>
        <label>Problem 2 </label>
        <select id="avalanche_problem_2" name="avalanche_problem_2">
            <option value="" hidden="true"></option>
            <option value="Persistent Slab">Persistent Slab</option>
            <option value="Deep Persistent Slab">Deep Persistent Slab</option>
            <option value="Storm Slab">Storm Slab</option>
            <option value="Wet Slab">Wet Slab</option>
            <option value="Wind Slab">Wind Slab</option>
            <option value="Dry Loose">Dry Loose</option>
            <option value="Wet Loose">Wet Loose</option>
            <option value="Glide">Glide</option>
            <option value="Cornice Fall">Cornice Fall</option>
        </select>
         <br><label>Aspect:</label>
            <div id="aspect_2">
                <label>
                    <input type="checkbox" name="aspect_2[]" value="N">
                    N (0)
                </label>

                <label>
                    <input type="checkbox" name="aspect_2[]" value="NE">
                    NE (45)
                </label>

                <label>
                    <input type="checkbox" name="aspect_2[]" value="E">
                    E (90)
                </label>

                <label>
                    <input type="checkbox" name="aspect_2[]" value="SE">
                    SE (135)
                </label>

                <label>
                    <input type="checkbox" name="aspect_2[]" value="S">
                    S (180)
                </label>

                <label>
                    <input type="checkbox" name="aspect_2[]" value="SW">
                    SW (225)
                </label>

                <label>
                    <input type="checkbox" name="aspect_2[]" value="W">
                    W (270)
                </label>

                <label>
                    <input type="checkbox" name="aspect_2[]" value="NW">
                    NW (315)
                </label>
            </div>
            <br><label>Elevation:</label>
            <div id="elevation_2">
                    <label>
                        <input type="checkbox" name="elevation_2[]" value="BTL">
                       Below Treeline
                    </label>

                    <label>
                        <input type="checkbox" name="elevation_2[]" value="NTL">
                        Near Treeline
                    </label>

                    <label>
                        <input type="checkbox" name="elevation_2[]" value="ATL">
                        Above Treeline
                    </label>
                </div>
            <br><label>Size:</label>
            <input type="text" id="size_2" name="size_2">
            <label>Likelihood:</label>
            <input type="text" id="likelihood_2" name="likelihood_2">

    </div>

    <div id="problem_3" hidden="true">
        <label>Location </label>
                <select id="location3" name="location3">
                    <option value="" hidden="true"></option>
                    <option value="Resort"> Resort</option>
                    <option value="BC">Backcountry (BC) </option>
                    <option value="Both">Both</option>
                </select>
        <label>Problem 3 </label>
        <select id="avalanche_problem_3" name="avalanche_problem_3">
            <option value="" hidden="true"></option>
            <option value="Persistent Slab">Persistent Slab</option>
            <option value="Deep Persistent Slab">Deep Persistent Slab</option>
            <option value="Storm Slab">Storm Slab</option>
            <option value="Wet Slab">Wet Slab</option>
            <option value="Wind Slab">Wind Slab</option>
            <option value="Dry Loose">Dry Loose</option>
            <option value="Wet Loose">Wet Loose</option>
            <option value="Glide">Glide</option>
            <option value="Cornice Fall">Cornice Fall</option>
        </select>
         <br><label>Aspect:</label>
            <div id="aspect_3">
                <label>
                    <input type="checkbox" name="aspect_3[]" value="N">
                    N (0)
                </label>

                <label>
                    <input type="checkbox" name="aspect_3[]" value="NE">
                    NE (45)
                </label>

                <label>
                    <input type="checkbox" name="aspect_3[]" value="E">
                    E (90)
                </label>

                <label>
                    <input type="checkbox" name="aspect_3[]" value="SE">
                    SE (135)
                </label>

                <label>
                    <input type="checkbox" name="aspect_3[]" value="S">
                    S (180)
                </label>

                <label>
                    <input type="checkbox" name="aspect_3[]" value="SW">
                    SW (225)
                </label>

                <label>
                    <input type="checkbox" name="aspect_3[]" value="W">
                    W (270)
                </label>

                <label>
                    <input type="checkbox" name="aspect_3[]" value="NW">
                    NW (315)
                </label>
            </div>
           <br><label>Elevation:</label>
                <div id="elevation_3">
                    <label>
                        <input type="checkbox" name="elevation_3[]" value="BTL">
                       Below Treeline
                    </label>

                    <label>
                        <input type="checkbox" name="elevation_3[]" value="NTL">
                        Near Treeline
                    </label>

                    <label>
                        <input type="checkbox" name="elevation_3[]" value="ATL">
                        Above Treeline
                    </label>
                </div>
            <br><label>Size:</label>
            <input type="text" id="size_3" name="size_3">
            <label>Likelihood:</label>
            <input type="text" id="likelihood_3" name="likelihood_3">


    </div>
    <div id="problem_4" hidden="true">
        <label>Location </label>
                <select id="location4" name="location4">
                    <option value="" hidden="true"></option>
                    <option value="Resort"> Resort</option>
                    <option value="BC">Backcountry (BC) </option>
                    <option value="Both">Both</option>
                </select>
        <label>Problem 4 </label>
        <select id="avalanche_problem_4" name="avalanche_problem_4">
            <option value="" hidden="true"></option>
            <option value="Persistent Slab">Persistent Slab</option>
            <option value="Deep Persistent Slab">Deep Persistent Slab</option>
            <option value="Storm Slab">Storm Slab</option>
            <option value="Wet Slab">Wet Slab</option>
            <option value="Wind Slab">Wind Slab</option>
            <option value="Dry Loose">Dry Loose</option>
            <option value="Wet Loose">Wet Loose</option>
            <option value="Glide">Glide</option>
            <option value="Cornice Fall">Cornice Fall</option>
        </select>

                <br><label>Aspect:</label>
                <div id="aspect_4">
                    <label>
                        <input type="checkbox" name="aspect_4[]" value="N">
                        N (0)
                    </label>

                    <label>
                        <input type="checkbox" name="aspect_4[]" value="NE">
                        NE (45)
                    </label>

                    <label>
                        <input type="checkbox" name="aspect_4[]" value="E">
                        E (90)
                    </label>

                    <label>
                        <input type="checkbox" name="aspect_4[]" value="SE">
                        SE (135)
                    </label>

                    <label>
                        <input type="checkbox" name="aspect_4[]" value="S">
                        S (180)
                    </label>

                    <label>
                        <input type="checkbox" name="aspect_4[]" value="SW">
                        SW (225)
                    </label>

                    <label>
                        <input type="checkbox" name="aspect_4[]" value="W">
                        W (270)
                    </label>

                    <label>
                        <input type="checkbox" name="aspect_4[]" value="NW">
                        NW (315)
                    </label>
                </div>

            <br><label>Elevation:</label>
            <div id="elevation_4">
                    <label>
                        <input type="checkbox" name="elevation_4[]" value="BTL">
                       Below Treeline
                    </label>

                    <label>
                        <input type="checkbox" name="elevation_4[]" value="NTL">
                        Near Treeline
                    </label>

                    <label>
                        <input type="checkbox" name="elevation_4[]" value="ATL">
                        Above Treeline
                    </label>
                </div>
            <br><label>Size:</label>
            <input type="text" id="size_4" name="size_4">
            <label>Likelihood:</label>
            <input type="text" id="likelihood_4" name="likelihood_4">


    </div>

    <button type="button" onclick="addProblem2()" id="problem_2_button">Add Second Problem</button>
    <button type="button" onclick="addProblem3()" id="problem_3_button" hidden="true">Add Third Problem</button>
    <button type="button" onclick="addProblem4()" id="problem_4_button" hidden="true">Add Fourth Problem</button>

    <h1>Avalanche Forecast and discussion, How it relates to our Mtn and Our Strategic Mindset</h1><br>
    <textarea id="avalanche_forecast_discussion" name="avalanche_forecast_discussion"></textarea>

    <h1>Summary of Previous Day(s) Work</h1><br>
    <textarea id="summary_of_previous_work" name="summary_previous_day"></textarea>

    <h1>Mitigation Plan</h1><br>
    <textarea id="mitigation_plan" name="mitigation_plan"></textarea>

    <h1>Pertinent Terrain Opening/Closing</h1><br>
    <textarea id="pertinent_terrain_opening/closing" name="pertinent_terrain_info"></textarea><br>



    <button id="submitButton" type="submit" onclick="submit_amForm()">Generate PDF</button>
</form>

{% endblock %}