{% extends "base.html" %}
{% block title%} Read {%endblock%}
{% block content%}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>



<h1 id="title"> Read</h1><br>

<script src="/static/graphs.js"></script>

<canvas id="ytd_snow_graph" style="width:100%;max-width:700px" ></canvas>
<script>graphs(JSON.parse({{dates|tojson}}), JSON.parse("{{ytd_snow}}"),"ytd_snow_graph" )</script>

<canvas id="ytd_swe_graph" style="width:100%;max-width:700px" ></canvas>
<script>graphs(JSON.parse({{dates|tojson}}), JSON.parse("{{ytd_snow}}"),"ytd_swe_graph" )</script>


{% endblock %}
