{% extends "base.html" %}
{% block title%} Read {%endblock%}
{% block content%}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>



<h1 id="title"> Read</h1><br>

<script src="/static/graphs.js"></script>

<canvas id="ytd_snow_graph" style="width:100%;max-width:700px" ></canvas>
<script>graphs3(JSON.parse({{dates_snow|tojson}}), JSON.parse("{{ytd_snow}}"),"ytd_snow_graph", 'YTD Snow', 'Dates', 'YTD Snow (inches)')</script>

<canvas id="ytd_swe_graph" style="width:100%;max-width:700px" ></canvas>
<script>graphs3(JSON.parse({{dates_swe|tojson}}), JSON.parse("{{ytd_swe}}"),"ytd_swe_graph", 'YTD SWE', 'Dates', 'YTD SWE' )</script>

<canvas id="temps_graph" style="width:100%;max-width:700px" ></canvas>
<script>graphs3(JSON.parse({{dates_temp|tojson}}), JSON.parse("{{temps}}"),"temps_graph", 'Temperature Trends of the Season ', 'Dates', 'Temperature (F)' )</script>


{% endblock %}
