{% extends "base.html" %}
{% block title%} View {%endblock%}
{% block content%}
<h1 id="title"> View Data</h1><br>


{% if current_user.is_authenticated == False %}
    <table class="sortable" id="snowTable">
    <thead>
    <tr>
        <th onclick="sortTable(0)">Date</th>
        <th onclick="sortTable(1)">Season</th>
        <th onclick="sortTable(2)">HS (in) (Snow Height)</th>
        <th onclick="sortTable(3)">HN24 (24-hour new snow)</th>
        <th onclick="sortTable(4)">HST (Total storm snow)</th>
        <th onclick="sortTable(5)">YTD (Year-to-date snow)</th>
        <th onclick="sortTable(6)">Sky Condition</th>
        <th onclick="sortTable(7)">Temperature °F</th>
        <th onclick="sortTable(8)">Wind Speed</th>
        <th onclick="sortTable(9)">Wind Direction</th>

    </tr>
    </thead>
    <tbody>
    {% for i in snow%}
        <tr>
            <td> {{ i.date }}</td>
            <td>{{ i.season }}</td>
            <td>{{ i.hs }}</td>
            <td>{{ i.hn24 }}</td>
            <td>{{ i.hst }}</td>
            <td>{{ i.ytd_snow }}</td>
            <td>{{ i.sky }}</td>
            <td>{{ i.temperature }}</td>
            <td>{{ i.wind_mph }}</td>
            <td>{{ i.wind_direction }}</td>
        </tr>
    {%endfor%}

    </tbody>

</table>

{% endif %}
{% if current_user.is_authenticated %}

    <button onclick="window.location.href='/view/export'"> Export</button>
    
    <table class="sortable" id="snowTable">
    <thead>
        <tr>
            <th onclick="sortTable(0)">Date</th>
            <th onclick="sortTable(1)">PM-Form</th>
            <th onclick="sortTable(2)">HS</th>
            <th onclick="sortTable(3)">HN24</th>
            <th onclick="sortTable(4)">HN24 SWE</th>
            <th onclick="sortTable(5)">HST</th>
            <th onclick="sortTable(6)">YTD</th>
            <th onclick="sortTable(7)">YTD SWE</th>
            <th onclick="sortTable(8)">Temp</th>
            <th onclick="sortTable(9)">Wind Speed</th>
            <th onclick="sortTable(10)">Wind Direction</th>
            <th onclick="sortTable(11)">Peak Gust</th>
            <th onclick="sortTable(12)">DELETE</th>
            <th onclick="sortTable(13)">DELETE</th>
            <th> </th>

        </tr>
    </thead>
    <tbody>
    {% for i in snow%}
        <tr>
            <td> <a href="/update-form/{{i.date}}">{{ i.date }}</a></td>
            <td><a href="/update-pm-form/{{i.date}}">Update</a></td>
            <td>{{ i.hs }}</td>
            <td>{{ i.hn24 }}</td>
            <td>{{ i.swe }}</td>
            <td>{{ i.hst }}</td>
            <td>{{ i.ytd_snow }}</td>
            <td>{{ i.ytd_swe }}</td>
            <td>{{ i.temperature }}</td>
            <td>{{ i.wind_mph }}</td>
            <td>{{ i.wind_direction }}</td>
            <td>{{ i.current_peak_gust_mph }}</td>
            <td onclick="confirm_data_delete_am('{{i.date}}')"> <a href="javascript:void(0)">AM</a></td>
            <td onclick="confirm_data_delete_pm('{{i.date}}')"> <a href="javascript:void(0)">PM</a></td>
        </tr>
    {%endfor%}

    </tbody>

</table>
{% endif %}



{% endblock %}